 <div class="user-details">
  <h1> About me &#x1F642;</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
<!--     <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
    <div class="tech">
      <h2>Programming</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-go-line colored"></i>
      <i class="devicon-cplusplus-line colored"></i>
      <p><b>Python</b>  &nbsp|&nbsp  <b>JavaScript</b>  &nbsp|&nbsp  <b>Golang</b>  &nbsp|&nbsp  <b>C++</b></p>
      <p>I have 5 years of programming experience. In that time, I've used a range of languages including Python, JavaScript, C++, and most recently GoLang.</p>
    </div>
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
    <!--   <i class="devicon-git-plain colored"></i> -->
      <p><b>Flask</b>  &nbsp|&nbsp  <b>Node.JS</b>  &nbsp|&nbsp  <b>React.JS</b>  &nbsp|&nbsp  <b>Postgres</b>  </p>
      <p>Through side projects and professional work, I've had the opportunity to explore numerous tools in which to create web applications and backend services.</p>
    </div>
</div>