<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:j.d.livni@gmail.com.com" target="_top" title="send email"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/joseph-livni/" title="linkedin"><i class="icon fa fa-linkedin"></i></a>
        <a aria-label="My Medium" href="https://medium.com/@j.d.livni" title="medium" target="_blank"><i class="icon fa fa-medium"></i></a>
        <a aria-label="My Github" target="_blank" href="http://github.com/Lebonesco" title="github"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Resume" target="_blank" href="{{ "/assets/pdf/JosephLivniResume.pdf" | prepend: site.baseurl }}" title="resume"><i class="icon fa fa-file" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
       <!--  <a class="link" href="#experience" data-scroll>Experience</a> -->
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
