<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="chat room" src="{{ "/assets/img/computer_science.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Load Optimized Chat Room </h3>
    <ul>
      <li>Utilizes UDP transport layer to create custom server-client, chat room protocol.</li>
      <li>Optimized packet delivery load and speed through robust dynamic server clusters, flooding-pruning processes, and soft state.</li>
      <li>Tools: C++, UDP, Networking.</li>
    </ul>
    <a class="project-link" href="https://github.com/Lebonesco/DuckChat">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="scheduler" src="{{ "/assets/img/golang.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Compiler: Lexer & Parser </h3>
    <ul>
      <li>Handles a custom Object Oriented Language that contains core language features.</li>
      <li>Tokenenizes language and generates an Abstract Syntax Tree with Static Type Checking.</li>
      <li>Tools: Go, Gocc.</li>
    </ul>
    <a class="project-link" href="https://github.com/Lebonesco/quack_parser">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
   <img alt="chat room" src="{{ "/assets/img/team.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Team Generator </h3>
    <ul>
      <li>Allows instructors to create optimized, student programming teams based off custom survey data.</li>
      <li>Instructors can manipulate groups through a drag and drop interface and filtering and matching algorithms. that visualize matching success rate between users and groups.</li>
      <li>Tools: React.JS, Redux, Node.JS, MongoDB, Immutable.JS.</li>
    </ul>
    <a class="project-link" href="https://github.com/lightertu/Groupify">Check it out</a>
  </div>
</div>